annotated-types==0.7.0
anyio==4.14.0
arrow==1.4.0
backoff==2.2.1
datacompy==1.0.2
defusedxml==0.7.1
gql==4.0.0
Jinja2==3.1.6
marshmallow==4.3.0
multidict==6.7.1
numpy==2.4.6
ordered-set==4.1.0
pandas==3.0.3
polars==1.41.2
polars-runtime-32==1.41.2
propcache==0.5.2
pyarrow==24.0.0
pydantic==2.13.4
pydantic-extra-types==2.11.1
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pyTenable==26.6.1
python-box==7.4.1
requests==2.34.2
requests-toolbelt==1.0.0
semver==3.0.4
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
yarl==1.24.2
